[project]
name = "streamlit-replicate-boss"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "replicate>=1.0.7",
    "requests>=2.32.5",
    "streamlit>=1.50.0",
    "streamlit-image-select>=0.6.0",
]
